* {
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
  font-size: 11px;
}

body {
  background-color: #444;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

a:link,
a:hover,
a:visited,
a:active {
  transition: color 0.2s linear;
  color: #888;
}

a:hover {
  color: #1a73e8;
}

#content {
  display: block;
  background-color: #fff;
  width: calc(95vh * 8.5 / 11);
  height: 95vh;
  padding: 60px 35px 40px;
  overflow: scroll;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: solid 1px #444;
  padding-bottom: 8px;
}

#contact-info {
  text-align: right;
}

#contact-info * {
  font-size: 10px;
}

main {
  display: flex;
}

#left-column {
  flex: 1;
  padding-right: 20px;
}

#right-column {
  flex: 2.4;
}

section:not(:last-child) {
  border-bottom: solid 1px #aaa;
  padding-bottom: 10px;
}

article {
  margin-bottom: 8px;
}

.article-header {
  display: flex;
  justify-content: space-between;
}

.article-title-divider {
  display: inline-block;
  background-color: #444;
  height: 11px;
  width: 2px;
  border-radius: 1px;
  margin: 0px 5px;
}

h1 {
  font-size: 24px;
  line-height: 24px;
  font-family: "Esteban", serif;
  margin: 0px;
  display: flex;
  align-items: center;
}

.emoji {
  font-size: 16px;
  margin-right: 10px;
}

h2 {
  font-size: 18px;
  font-family: "Esteban", serif;
  text-transform: lowercase;
  font-weight: 700;
  margin-top: 12px;
  margin-bottom: 14px;
}

h3 {
  font-weight: 700;
  color: #1a73e8;
  text-transform: uppercase;
  margin-bottom: 3px;
  margin-top: 0px;
  display: flex;
  align-items: center;
}

h3 span {
  color: #444;
  text-transform: none;
}

h4 {
  font-weight: 400;
  color: #555;
  font-size: 11px;
  margin-top: 0px;
  margin-bottom: 0px;
}

h5 {
  font-weight: 400;
  color: #555;
  font-size: 10px;
  margin: 0px;
  text-align: right;
  font-style: italic;
}

h5.standalone {
  text-align: left;
  margin-top: 8px;
}

ul {
  margin-top: 5px;
  margin-bottom: 5px;
  padding-left: 24px;
}

li {
  margin-bottom: 3px;
}
